  <!--================ Start Course Details Area =================-->
  <section class="course_details_area section_padding">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 course_details_left">
                  <div class="main_image">
                      <img class="img-fluid" src={{response.value.poster}} alt="Poster">
                  </div>
              </div>
              <div class="col-lg-4 right-contents">
                  <div class="sidebar_top">
                      <ul>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Course Name</p>
                                <span class="color">{{response.value.name}}</span>
                            </a>
                        </li>
                          <li>
                              <a class="justify-content-between d-flex" href="#">
                                  <p>Trainer’s Name</p>
                                  <span class="color">Eslam Khalil</span>
                              </a>
                          </li>
                          <li>
                              <a class="justify-content-between d-flex" href="#">
                                  <p>Course Fee </p>
                                  <span>$230</span>
                              </a>
                          </li>
                          <li>
                              <a class="justify-content-between d-flex" href="#">
                                  <p>Student In Course </p>
                                  <span>{{response.obj[0].studentCount}}</span>
                              </a>
                          </li>
                          <li>
                              <a class="justify-content-between d-flex" href="#">
                                  <p>Schedule </p>
                                  <span>2.00 pm to 4.00 pm</span>
                              </a>
                          </li>
                      </ul>
                      <a href="/Payment"  (click)="AddStudent(response.id)" class="btn_1 d-block">Enroll the course</a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--================ End Course Details Area =================-->